<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Temperature</title>
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
      integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
<h1 id="h1">Temperature Page</h1>
<p>temperature is: {temperature} </p>
<a href="/"> Click here to go back to the index</a>
</body>
</html>